Description=Entropy node.
After=network.target

[Service]
User=entropy
Group=entropy
ExecStart=/var/run/entropy/entropy
Type=simple
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
RequiredBy=network.target
