[package]
name = 'pallet-relayer'
version = '3.0.0'
description = 'FRAME pallet template for defining custom runtime logic.'
authors = ['Substrate DevHub <https://github.com/substrate-developer-hub>']
homepage = 'https://substrate.dev'
edition = '2018'
license = 'AGPL-3.0-or-later'
publish = false
repository = 'https://github.com/substrate-developer-hub/substrate-node-template/'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '2.0.0'

[dependencies.frame-benchmarking]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
rev = "558a68f8328a004f153496a192c3ac9723c763c3"
optional = true
version = '4.0.0-dev'

[dependencies.frame-support]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
rev = "558a68f8328a004f153496a192c3ac9723c763c3"
version = '4.0.0-dev'

[dependencies.frame-system]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
rev = "558a68f8328a004f153496a192c3ac9723c763c3"
version = '4.0.0-dev'

[dependencies.scale-info]
default-features = false
features = ['derive']
version = '1.0'

[dev-dependencies.sp-core]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
rev = "558a68f8328a004f153496a192c3ac9723c763c3"
version = '4.0.0-dev'

[dev-dependencies.sp-io]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
rev = "558a68f8328a004f153496a192c3ac9723c763c3"
version = '4.0.0-dev'

[dependencies.sp-runtime]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
rev = "558a68f8328a004f153496a192c3ac9723c763c3"
version = '4.0.0-dev'

[dependencies]
sp-std = { package = "sp-std", git = "https://github.com/paritytech/substrate", rev = "558a68f8328a004f153496a192c3ac9723c763c3", default-features = false }

[features]
default = ['std']
runtime-benchmarks = ['frame-benchmarking']
std = [
    'codec/std',
    'scale-info/std',
    'frame-support/std',
    'frame-system/std',
    'frame-benchmarking/std',
	"sp-std/std",
	"sp-runtime/std",
]
try-runtime = ['frame-support/try-runtime']
