[package]
authors    =['Substrate DevHub <https://github.com/substrate-developer-hub>']
description='FRAME pallet template for defining custom runtime logic.'
edition    ='2021'
homepage   ='https://substrate.dev'
license    ='AGPL-3.0-or-later'
name       ='pallet-propagation'
publish    =false
readme     ='README.md'
repository ='https://github.com/substrate-developer-hub/substrate-node-template/'
version    ='3.0.0-monthly-2021-10'

[package.metadata.docs.rs]
targets=['x86_64-unknown-linux-gnu']

[dependencies.codec]
default-features=false
features        =['derive']
package         ='parity-scale-codec'
version         ='3.0.0'

[dependencies.frame-benchmarking]
default-features=false
git             ='https://github.com/paritytech/substrate.git'
branch          ="polkadot-v0.9.30"
optional        =true
version         ='4.0.0-dev'

[dependencies.frame-support]
default-features=false
git             ='https://github.com/paritytech/substrate.git'
branch          ="polkadot-v0.9.30"
version         ='4.0.0-dev'

[dependencies.frame-system]
default-features=false
git             ='https://github.com/paritytech/substrate.git'
branch          ="polkadot-v0.9.30"
version         ='4.0.0-dev'

[dependencies]
pallet-authorship       ={ version="4.0.0-dev", default-features=false, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.30" }
pallet-relayer          ={ version="3.0.0", default-features=false, path="../relayer" }
pallet-staking-extension={ version="3.0.0", default-features=false, path="../staking" }

scale-info={ version="2.0.1", default-features=false, features=["derive"] }
log       ={ version="0.4.0", default-features=false }
sp-staking={ version="4.0.0-dev", default-features=false, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.30" }
sp-io     ={ version="6.0.0", default-features=false, git="https://github.com/paritytech/substrate", branch="polkadot-v0.9.30" }
lite-json ={ version="0.1", default-features=false }
sp-runtime={ version="6.0.0", default-features=false, git="https://github.com/paritytech/substrate", branch="polkadot-v0.9.30" }
sp-core   ={ version="6.0.0", default-features=false, git="https://github.com/paritytech/substrate", branch="polkadot-v0.9.30" }
# non-substrate-common ={ path="../../crypto/non-substrate-common", default-features=false }
substrate-common     ={ path="../../crypto/substrate-common", default-features=false }
sp-application-crypto={ version="6.0.0", default-features=false, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.30" }

[dev-dependencies]
sp-keystore                    ={ version="0.12.0", git="https://github.com/paritytech/substrate", branch="polkadot-v0.9.30" }
parking_lot                    ="0.11.2"
pallet-staking                 ={ version="4.0.0-dev", default-features=false, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.30" }
sp-staking                     ={ version="4.0.0-dev", default-features=false, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.30" }
pallet-timestamp               ={ version="4.0.0-dev", default-features=false, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.30" }
frame-election-provider-support={ version="4.0.0-dev", default-features=false, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.30" }
pallet-balances                ={ version="4.0.0-dev", default-features=false, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.30" }
pallet-staking-reward-curve    ={ version="4.0.0-dev", default-features=false, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.30" }
pallet-session                 ={ version="4.0.0-dev", default-features=false, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.30" }
pallet-babe                    ={ version="4.0.0-dev", default-features=false, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.30" }
sp-npos-elections              ={ version="4.0.0-dev", default-features=false, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.30" }
pallet-bags-list               ={ version="4.0.0-dev", default-features=false, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.30" }

[features]
default=['std']
runtime-benchmarks=['frame-benchmarking']
std=[
  'codec/std',
  'log/std',
  "scale-info/std",
  'frame-support/std',
  'frame-system/std',
  'frame-benchmarking/std',
  'pallet-authorship/std',
  'pallet-staking-extension/std',
  'pallet-balances/std',
  'pallet-babe/std',
  "sp-io/std",
  "sp-runtime/std",
  "sp-npos-elections/std",
  "sp-application-crypto/std",
]
try-runtime=['frame-support/try-runtime']
