[package]
name       ='entropy'
authors    =['Substrate DevHub <https://github. Fm/substrate-developer-hub>']
build      ='build.rs'
description='A fresh FRAME-based Substrate node, ready for hacking.'
edition    ='2021'
homepage   ='https://substrate.dev'
license    ='AGPL-3.0-or-later'
publish    =false
repository ='https://github.com/substrate-developer-hub/substrate-node-template/'
version    ='3.0.0-monthly-2021-10'

[package.metadata.docs.rs]
targets=['x86_64-unknown-linux-gnu']

[[bin]]
name='entropy'

[dependencies]
jsonrpc-core                      ='18.0.0'
serde_json                        ='1.0.0'
clap                              ={ version="4.0.9", features=["derive"] }
codec                             ={ package="parity-scale-codec", version="3.0.0" }
structopt                         ='0.3.8'
grandpa-primitives                ={ version="4.0.0-dev", package="sp-finality-grandpa", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
hex-literal                       ="0.3.1"
pallet-im-online                  ={ version="4.0.0-dev", default-features=false, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sc-chain-spec                     ={ version="4.0.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
serde                             ={ version="1.0.126", features=["derive"] }
sp-authority-discovery            ={ version="4.0.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sp-consensus-babe                 ={ version="0.10.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
node-primitives                   ={ version="2.0.0", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
rand                              ="0.7.2"
sc-sync-state-rpc                 ={ version="0.10.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
futures                           ="0.3.16"
sc-consensus-babe                 ={ version="0.10.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sc-network                        ={ version="0.10.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sc-network-common                 ={ version="0.10.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sc-consensus-slots                ={ version="0.10.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sp-transaction-storage-proof      ={ version="4.0.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sc-authority-discovery            ={ version="0.10.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sp-authorship                     ={ version="4.0.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sc-consensus-uncles               ={ version="0.10.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sc-consensus-babe-rpc             ={ version="0.10.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sc-consensus-epochs               ={ version="0.10.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sc-finality-grandpa               ={ version="0.10.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sc-finality-grandpa-rpc           ={ version="0.10.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sp-keystore                       ={ version="0.12.0", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
jsonrpsee                         ={ version="0.15.1", features=["server"] }
sp-inherents                      ={ version="4.0.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sp-keyring                        ={ version="6.0.0", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
frame-system                      ={ version="4.0.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
frame-system-rpc-runtime-api      ={ version="4.0.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
pallet-transaction-payment        ={ version="4.0.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
pallet-staking-extension          ={ version="3.0.0", path="../../pallets/staking" }
pallet-free-tx                    ={ version="3.0.0-monthly-2021-10", path="../../pallets/free-tx" }
node-inspect                      ={ version="0.9.0-dev", optional=true, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
substrate-frame-cli               ={ version="4.0.0-dev", optional=true, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sc-sysinfo                        ={ version="6.0.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
substrate-state-trie-migration-rpc={ version="4.0.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }

[build-dependencies]
clap_complete               ={ version="3.0", optional=true }
node-inspect                ={ version="0.9.0-dev", optional=true, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
substrate-build-script-utils={ version="3.0.0", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
substrate-frame-cli         ={ version="4.0.0-dev", optional=true, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
try-runtime-cli             ={ version="0.10.0-dev", optional=true, git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
sc-cli                      ={ version="0.10.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
pallet-balances             ={ version="4.0.0-dev", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }

sc-service-test={ version="2.0.0", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }

[dev-dependencies]
sc-service-test={ version="2.0.0", git='https://github.com/paritytech/substrate.git', branch="polkadot-v0.9.31" }
tempfile       ="3.1.0"

[dependencies.entropy-runtime]
path   ='../../runtime'
version='3.0.0-monthly-2021-10'

[dependencies.frame-benchmarking]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='4.0.0-dev'

[dependencies.frame-benchmarking-cli]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='4.0.0-dev'

[dependencies.pallet-transaction-payment-rpc]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='4.0.0-dev'

[dependencies.sc-basic-authorship]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='0.10.0-dev'

[dependencies.sc-cli]
features=['wasmtime']
git     ='https://github.com/paritytech/substrate.git'
branch  ="polkadot-v0.9.31"
version ='0.10.0-dev'

[dependencies.sc-client-api]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='4.0.0-dev'

[dependencies.sc-consensus]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='0.10.0-dev'

[dependencies.sc-consensus-aura]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='0.10.0-dev'

[dependencies.sc-executor]
features=['wasmtime']
git     ='https://github.com/paritytech/substrate.git'
branch  ="polkadot-v0.9.31"
version ='0.10.0-dev'

[dependencies.sc-keystore]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='4.0.0-dev'

[dependencies.sc-rpc]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='4.0.0-dev'

[dependencies.sc-rpc-api]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='0.10.0-dev'

[dependencies.sc-service]
features=['wasmtime']
git     ='https://github.com/paritytech/substrate.git'
branch  ="polkadot-v0.9.31"
version ='0.10.0-dev'

[dependencies.sc-telemetry]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='4.0.0-dev'

[dependencies.sc-transaction-pool]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='4.0.0-dev'

[dependencies.sc-transaction-pool-api]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='4.0.0-dev'

[dependencies.sp-api]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='4.0.0-dev'

[dependencies.sp-block-builder]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='4.0.0-dev'

[dependencies.sp-blockchain]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='4.0.0-dev'

[dependencies.sp-consensus]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='0.10.0-dev'

[dependencies.sp-consensus-aura]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='0.10.0-dev'

[dependencies.sp-core]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='6.0.0'

[dependencies.sp-runtime]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='6.0.0'

[dependencies.sp-timestamp]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='4.0.0-dev'

[dependencies.substrate-frame-rpc-system]
git    ='https://github.com/paritytech/substrate.git'
branch ="polkadot-v0.9.31"
version='4.0.0-dev'

[features]
default=[]
runtime-benchmarks=[
  'entropy-runtime/runtime-benchmarks',
  "frame-benchmarking/runtime-benchmarks",
  "frame-benchmarking-cli/runtime-benchmarks",
]
