[package]
name       ="entropy-create-test-keyshares"
description="Makes a set of keyshares for testing entropy-tss"
version    ='0.2.0-rc.1'
authors    =['Entropy Cryptography <engineering@entropy.xyz>']
homepage   ='https://entropy.xyz/'
license    ='AGPL-3.0-or-later'
repository ='https://github.com/entropyxyz/entropy-core'
edition    ='2021'

[dependencies]
entropy-testing-utils={ version="0.2.0-rc.1", path="../../crates/testing-utils" }
tokio                ={ version="1.39", features=["macros", "fs", "rt-multi-thread", "io-util", "process"] }
entropy-shared       ={ version="0.2.0-rc.1", path="../../crates/shared" }
entropy-kvdb         ={ version="0.2.0-rc.1", path="../../crates/kvdb", default-features=false }

# Unreleased version of Synedrion with support for child key derivations.
synedrion={ git="https://github.com/entropyxyz/synedrion", rev="1d210d149dfeb0dca1dd41d7fac4d0bf03c686fa" }
entropy-tss={ version="0.2.0-rc.1", path="../../crates/threshold-signature-server", features=[
  "test_helpers",
] }
