---
name: Container build and push
run-name: Build ${{ inputs.docker_build_arg_package }} container image

permissions:
  actions: write
  contents: read

on:
  workflow_call:
    inputs:
      docker_build_arg_package:
        description: >
          Value of `PACKAGE` to pass to `--build-args`. Expected to
          be one of `entropy` or `entropy-tss`.
        type: string
        required: true
      git_ref_basename:
        description: Last portion of the Git ref, like `basename(1)`.
        type: string
        required: true
    secrets:
      DOCKER_HUB_USERNAME:
        description: Username with which to log in to Docker Hub.
        required: true
      DOCKER_HUB_CI_TOKEN:
        description: >
          Docker Hub Personal Access Token (PAT) used as a password
          with which to log in to Docker Hub.
        required: true
      CI_MACHINE_USER_TOKEN:
        description: Fine-grained GitHub Personal Access Token specific for CI.
        required: true

jobs:
  build:
    name: Build and upload ${{ inputs.docker_build_arg_package }} binary
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: entropyxyz/${{ inputs.docker_build_arg_package }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=sha,format=long
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Builder
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_CI_TOKEN }}
      - name: Build and push ${{ inputs.docker_build_arg_package }} container image
        id: docker-build
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64,linux/arm64
          build-args: |
            PACKAGE=${{ inputs.docker_build_arg_package }}
          secrets: |
            credentials=${{ secrets.CI_MACHINE_USER_TOKEN }}
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          push: true
      - name: Create image export directory
        id: export-dir
        run: |
          tmpdir=$(mktemp -d)
          echo path=${tmpdir} >> $GITHUB_OUTPUT
      - name: Export plain binaries from built images
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64,linux/arm64
          build-args: |
            PACKAGE=${{ inputs.docker_build_arg_package }}
          secrets: |
            credentials=${{ secrets.CI_MACHINE_USER_TOKEN }}
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          outputs: |
            type=local,dest=${{ steps.export-dir.outputs.path }}
      - name: Disambiguate binaries by platform
        id: artifacts
        run: |
          dirname=${{ steps.export-dir.outputs.path }}
          refname=${{ inputs.git_ref_basename }}
          package=${{ inputs.docker_build_arg_package }}
          artifact_dir=$(mktemp -d)
          for platform in linux_amd64 linux_arm64; do
            cp ${dirname}/${platform}/usr/local/bin/${package} ${artifact_dir}/${package}_${refname}_${platform}
          done
          echo dir="${artifact_dir}" >> $GITHUB_OUTPUT
      - name: Upload ${{ inputs.docker_build_arg_package }} binary artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ inputs.docker_build_arg_package}}_${{ inputs.git_ref_basename }}
          path: ${{ steps.artifacts.outputs.dir }}/${{ inputs.docker_build_arg_package }}*
          if-no-files-found: error
          retention-days: 5
