---
name: "Lint and check licenses"
on: ["push"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install dependencies
        uses: ./.github/actions/install-dependencies/
      - name: Format and lint
        run: |
          curl -LsSf https://github.com/tamasfe/taplo/releases/download/0.8.0/taplo-full-linux-x86_64.gz | gunzip -N -d - > ${CARGO_HOME:-~/.cargo}/bin/taplo && chmod +x ${CARGO_HOME:-~/.cargo}/bin/taplo
          rustup component add rustfmt
          cargo fmt --check
          taplo fmt --check
          cargo clippy -- -D warnings
  check-licenses:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Check licenses with cargo deny
        run: |
          cargo install --locked cargo-deny
          cargo deny --all-features check license
